<?xml version="1.0"?>
<ruleset name="Melomaniac Sync">
	<description>WordPress coding standards for Melomaniac Sync.</description>

	<file>.</file>

	<exclude-pattern>/vendor/*</exclude-pattern>
	<exclude-pattern>/vendor-libs/*</exclude-pattern>
	<exclude-pattern>/node_modules/*</exclude-pattern>

	<arg name="extensions" value="php"/>
	<arg name="colors"/>
	<arg value="sp"/>
	<arg name="parallel" value="8"/>

	<rule ref="WordPress">
		<!-- Composer is not used at runtime, so classes are required explicitly. -->
		<exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
	</rule>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="melomaniac-sync"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="melomaniac_sync"/>
				<element value="Melomaniac_Sync"/>
				<element value="MELOMANIAC_SYNC"/>
			</property>
		</properties>
	</rule>

	<config name="minimum_wp_version" value="6.0"/>
	<config name="testVersion" value="7.4-"/>
</ruleset>
